APP_ENV=production
APP_DISPLAY_ERRORS=true
TIMEZONE=America/Sao_Paulo
HTTPS=false

APPLICATION_NAME=ZigMoney
APPLICATION_HOST=

MAIL_DRIVER=smtp
MAIL_HOST=s
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

SHARED_HOST=true

DB_CONNECTION=mysql
HOST_NAME='localhost'
HOST_USERNAME=''
HOST_PASSWORD=''
HOST_DBNAME=''